$background-color: hsla(191, 93, 18, 0);
$translucent-grey: hsla(196, 26, 43, 0.5);
$translucent-blue: hsla(191, 93, 18, 0.5);



html {
  scroll-behavior: smooth;
}

body {
  font-family: "monospace", "Courier New", sans-serif;
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
img {
   width: 100%;
}

.noheader {
   padding: 10px;
   text-align: center;
   background-color: rgba(3, 73, 89, 0);
}

.noheader h1{
   background-color: rgba(3, 73, 89, 0);
   font-size: 0px;
}
// Navigation bar stuff
.navbar {
   overflow: hidden;
   background-color: rgba(215, 215, 217, 0.5);
   padding: 90px;
   transition: 0.4s;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1;
}
.navbar a {
   float: left;
   display: block;
   color: #081E26;
   text-align: center;
   padding: 15px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
}


.navbar a:hover {
   background-color: #517C8C;
   color: black;
}

.navbar a.active {
   background-color: #034959;
   color: white;
}

.navbar-right{
   float: left;
}

.btn {
  color: #A3B2BF;
}

@media screen and (max-width: 480px) {
   #navbar {
      padding: 20px 10px !important;
   }

   #navbar a {
      float: none;
      display: block;
      text-align: left;
   }

   #navbar-right {
      float: none;
   }
}


* {
   box-sizing: border-box;
}

.row {
   display: flex;
   margin-top: 250px;
}

.side {
   flex: 30%;
   background-color: #f1f1f1;
   padding: 20px;
}

.main {
   flex: 70%;
   background-color: #D7D7D9;
   padding: 20px;

}


.slideshow-container {
  max-width: 75%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  text-align: center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left: 50%;
  background-color: $background-color;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: $background-color;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Style the Image Used to Trigger the Modal */
#myImg {
  width: 50%;
  height: 65%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


// #myVideo {
//   width: 100%;
//   min-width: 100%;
//   min-height: 100%;
//   z-index: -100;
// }

/* Add some content at the bottom of the video/page */
.content {
  position: auto;
  margin-left: auto;
  margin-right: auto;
  bottom: 100px;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 50%;
  padding: 0px;
  z-index: 1;
}



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 300px;
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:110px 1fr 1fr 120px;
  grid-template-areas:
      "header header header"
      "content-1 content-3 sidebar"
      "content-1 content-3 sidebar";
  grid-gap: 1rem;
}


.header {
  background-color: rgba(3, 73, 89, 0);
  grid-area: header;
  border-radius: 5px;
}

.sidebar {
  background-color: hsla(195, 65, 9, 0.5);
  grid-area: sidebar;
  border-radius: 5px;
}





.content-1 {
  background-color: $translucent-grey;
  grid-area: content-1;
  border-radius: 5px;
}

.content-3 {
  background-color:$translucent-blue;
  grid-area: content-3;
  border-radius: 5px;
}

.buffer {
   color: (191, 93, 18, 0);
   margin-top: 1000px;
   grid-area: header;
}



video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  margin-bottom: 50px;
}



footer {
  margin-top: 10px;
  left: 0;
  width: 100%;
  background-color: rgba(8, 30, 38, 0.7);
  color: white;
  text-align: center;
}


.fa-large {
  font-size: 40px;
  color: white;
}
